.chart {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.chart_container {
  height: 80%;
  position: relative;
}

.chart_bar {
  background-color: hsl(10, 79%, 65%);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 500px) {
  .overall_chart_container {
    max-width: 2.5rem;
    text-align: center;
  }

  p {
    font-size: 0.7rem;
    margin: 0.5rem;
  }

  .chart_container {
    margin: auto;
    max-width: 2rem;
  }
}
