.flex_name {
  display: flex;
  justify-content: space-between;
}

.flex_name div h2 {
  font-size: 2.5rem;
}

@media (max-width: 400px) {
  .flex_div_one {
    margin-top: 1rem;
  }

  .flex_name div h2 {
    font-size: 2rem;
    margin-left: 0;
  }

  .flex_name div p:nth-child(1) {
    font-size: 0.8rem;
    margin-left: 0;
  }
}

.flex_div_two {
  margin-top: 3.2rem;
  padding-top: 3rem 0;
}

p {
  color: hsl(28, 10%, 53%);
}

.flex_div_two p {
  margin: 0.25rem;
  text-align: right;
  font-size: 0.8rem;
}

.flex_div_two p:nth-child(1) {
  font-weight: bold;
  color: black;
}
